In [1]:
import pandas as pd

In [2]:
gdp_file = 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv'
gdp_df = pd.read_csv(gdp_file, sep=",", encoding='cp1252')
gdp_df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1959,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
countries= gdp_df['Country Name']
countries= pd.DataFrame(countries)
gdp_2015 = gdp_df['2015']
gdp_2015 = pd.DataFrame(gdp_2015)
gdp_2015 = round(gdp_2015/1000000000,2)
gdp_2016 = gdp_df['2016']
gdp_2016 = pd.DataFrame(gdp_2016)
gdp_2016 = round(gdp_2016/1000000000,2)
gdp = countries.join(gdp_2015)
gdp = gdp.join(gdp_2016)
gdp = gdp.dropna(how='all')

In [4]:
gdp['2015'] = gdp['2015'].astype('float')
gdp['2016'] = gdp['2016'].astype('float')
gdp[gdp['2015']>19]

                                          Country Name      2015      2016
1                                          Afghanistan     19.22     19.47
2                                               Angola    103.00     95.34
5                                           Arab World   2560.00   2500.00
6                                 United Arab Emirates    358.00    349.00
7                                            Argentina    585.00    545.00
11                                           Australia   1350.00   1200.00
12                                             Austria    382.00    391.00
13                                          Azerbaijan     53.07     37.85
15                                             Belgium    455.00    468.00
18                                          Bangladesh    195.00    221.00
19                                            Bulgaria     50.20     53.24
20                                             Bahrain     31.13     32.18
23                                             Belarus     56.45     47.41
26                                             Bolivia     33.00     33.81
27                                              Brazil   1800.00   1800.00
33                                              Canada   1560.00   1540.00
34                      Central Europe and the Baltics   1290.00   1310.00
35                                         Switzerland    679.00    669.00
37                                               Chile    243.00    247.00
38                                               China  11100.00  11200.00
39                                       Cote d'Ivoire     33.15     36.37
40                                            Cameroon     30.92     32.22
41                                    Congo, Dem. Rep.     37.92     35.38
43                                            Colombia    292.00    282.00
46                                          Costa Rica     54.84     57.44
47                              Caribbean small states     69.52     66.71
48                                                Cuba     87.13       NaN
51                                              Cyprus     19.68     20.05
52                                      Czech Republic    187.00    195.00
53                                             Germany   3380.00   3480.00
..                                                 ...       ...       ...
212                                             Serbia     37.16     38.30
213         Sub-Saharan Africa (excluding high income)   1610.00   1510.00
215                                 Sub-Saharan Africa   1610.00   1520.00
216                                       Small states    448.00    438.00
219                                    Slovak Republic     87.50     89.77
220                                           Slovenia     43.07     44.71
221                                             Sweden    498.00    514.00
228         East Asia & Pacific (IDA & IBRD countries)  13200.00  13500.00
229       Europe & Central Asia (IDA & IBRD countries)   3600.00   3460.00
231                                           Thailand    399.00    407.00
233                                       Turkmenistan     35.80     36.18
234  Latin America & the Caribbean (IDA & IBRD coun...   5250.00   5090.00
236  Middle East & North Africa (IDA & IBRD countries)   1430.00   1440.00
238                            South Asia (IDA & IBRD)   2680.00   2890.00
239          Sub-Saharan Africa (IDA & IBRD countries)   1610.00   1520.00
240                                Trinidad and Tobago     23.56     21.89
241                                            Tunisia     43.16     42.06
242                                             Turkey    860.00    864.00
244                                           Tanzania     45.63     47.34
245                                             Uganda     27.06     24.08
246                                            Ukraine     91.03     93.27
247                                Upper middle income  20800.00  20600.00
248                                            Uruguay     53.27     52.42
249                                      United States  18100.00  18600.00
250                                         Uzbekistan     66.90     67.22
255                                            Vietnam    193.00    205.00
257                                              World  74800.00  75900.00
260                                        Yemen, Rep.     37.73     27.32
261                                       South Africa    318.00    295.00
262                                             Zambia     21.15     21.06

[154 rows x 3 columns]

In [5]:
happiness_2015 = 'happiness_2015.csv'
happiness_2015 = pd.read_csv(happiness_2015, sep=",", encoding='cp1252')
happiness_2015.head(1)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [6]:
happiness_country = happiness_2015['Country']
happiness_country = pd.DataFrame(happiness_country)
happiness_rank = happiness_2015['Happiness Rank']
happiness_rank = pd.DataFrame(happiness_rank)
happiness_score = happiness_2015['Happiness Score']
happiness_score = pd.DataFrame(happiness_score)
happiness = happiness_country.join(happiness_rank)
happiness = happiness.join(happiness_score)
happiness = happiness.rename(columns={'Country':'Country Name'})
happiness

                 Country Name  Happiness Rank  Happiness Score
0                 Switzerland               1            7.587
1                     Iceland               2            7.561
2                     Denmark               3            7.527
3                      Norway               4            7.522
4                      Canada               5            7.427
5                     Finland               6            7.406
6                 Netherlands               7            7.378
7                      Sweden               8            7.364
8                 New Zealand               9            7.286
9                   Australia              10            7.284
10                     Israel              11            7.278
11                 Costa Rica              12            7.226
12                    Austria              13            7.200
13                     Mexico              14            7.187
14              United States              15            7.119
15                     Brazil              16            6.983
16                 Luxembourg              17            6.946
17                    Ireland              18            6.940
18                    Belgium              19            6.937
19       United Arab Emirates              20            6.901
20             United Kingdom              21            6.867
21                       Oman              22            6.853
22                  Venezuela              23            6.810
23                  Singapore              24            6.798
24                     Panama              25            6.786
25                    Germany              26            6.750
26                      Chile              27            6.670
27                      Qatar              28            6.611
28                     France              29            6.575
29                  Argentina              30            6.574
..                        ...             ...              ...
128                   Myanmar             129            4.307
129                   Georgia             130            4.297
130                    Malawi             131            4.292
131                 Sri Lanka             132            4.271
132                  Cameroon             133            4.252
133                  Bulgaria             134            4.218
134                     Egypt             135            4.194
135                     Yemen             136            4.077
136                    Angola             137            4.033
137                      Mali             138            3.995
138       Congo (Brazzaville)             139            3.989
139                   Comoros             140            3.956
140                    Uganda             141            3.931
141                   Senegal             142            3.904
142                     Gabon             143            3.896
143                     Niger             144            3.845
144                  Cambodia             145            3.819
145                  Tanzania             146            3.781
146                Madagascar             147            3.681
147  Central African Republic             148            3.678
148                      Chad             149            3.667
149                    Guinea             150            3.656
150               Ivory Coast             151            3.655
151              Burkina Faso             152            3.587
152               Afghanistan             153            3.575
153                    Rwanda             154            3.465
154                     Benin             155            3.340
155                     Syria             156            3.006
156                   Burundi             157            2.905
157                      Togo             158            2.839

[158 rows x 3 columns]

In [7]:
happiness = pd.DataFrame.merge(happiness,gdp)
happiness.head(1)

  Country Name  Happiness Rank  Happiness Score   2015   2016
0  Switzerland               1            7.587  679.0  669.0